html, body, #root {
  height: 200vh;
  width: 100vw;
  z-index: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden-scroll {
  overflow: hidden;
}

.root-portal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.react-shortcut {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  width: auto;
  min-width: 500px;
  min-height: 30px;
  overflow: hidden;
  position: relative;
}

.react-shortcut input {
  outline: none;
  padding: 10px;
  width: 100%;
  border: 0px;
  border-radius: 8px;
  margin: 0;
  min-height: 30px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(48, 48, 48);
}

.react-shortcut-item {
  padding: 10px;
  border-top: 1px solid rgb(231, 231, 231);
  cursor: pointer;
  transition-duration: 250ms;
}

.react-shortcut-item:hover {
  background-color: rgb(246, 246, 246);
}

.react-shortcut-item:focus {
  outline: none;
  border: 1px solid red;
}